<%- include ../layouts/cabeceraplaneacion.ejs %>

<div class="list-group list-group-horizontal">
    <button type="button" class="list-group-item list-group-item-action">
        <i class="bi bi-plus-square-fill"></i> Actividades
    </button>

    <button type="button" class="list-group-item list-group-item-action">
        <i class="bi bi-plus-square-fill"></i> 
    </button>
</div>

<%- include ../layouts/pie.ejs %>