<%- include layouts/cabecerausers.ejs %>


<div class="dropdown" id="droptrimestre">
    <button class="btn btn-secondary dropdown-toggle" id="btndroptrimestre" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Trimestre
    </button>
    <ul class="dropdown-menu" id="opcionesTrimestre">
      <li><a class="dropdown-item" href="#" data-value="1">Enero-Marzo</a></li>
      <li><a class="dropdown-item" href="#" data-value="2">Abril-Junio</a></li>
      <li><a class="dropdown-item" href="#" data-value="3">Julio-Septiembre</a></li>
      <li><a class="dropdown-item" href="#" data-value="4">Octubre-Diciembre</a></li>
    </ul>
  </div>
</div>


<div class="card-body">
    <table class="table table-light table-borderless table-responsive-lg">
       <thead>
        <tr>
            <th>ID</th>
            <th>Descripción</th>
            <th>Meta</th>
            <th>Indicador</th>
            <th>Unidad de medida</th>
            <th>Actividades del Trimestre</th>
            <th>Total</th>
            <th>Evidencia</th>
            <th>Observaciones</th>
        </tr>
       </thead>
       <tbody>
            
       </tbody>
    </table>
</div>

    
      
<%- include layouts/pie.ejs %>