<%- include ../layouts/cabeceradmins.ejs %>

<div class="card-header">
    <form class="d-flex" role="search">
        <input class="form-control me-2" id="searchBarr" type="search" placeholder="Buscar..." aria-label="Search">
    </form>   
</div>

<div class="card text-black bg-transparent mb-3">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>Area</th>
                    </tr>
                </thead>
                <tbody id="tableContent">
                    <% for(let x = 0;x < avance.length; x++) { %>
                        <tr>
                            <td><a href="avance/<%=avance[x].area_id %>"><%=avance[x].area_nombre%></a></td>
                        </tr>
                        
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
      $("#searchBarr").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#tableContent tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
</script>

<%- include ../layouts/pie %>